In [1]:
import numpy as np
import random
import math
from matplotlib import pyplot as plt
from sklearn.datasets.samples_generator import make_blobs
import time
import pandas as pd
from scipy.spatial.distance import cdist
from sklearn.utils import shuffle
# from sklearn.cluster import KMeans
import numpy as np
from sklearn.cluster import KMeans 

from sklearn.preprocessing import LabelEncoder
from sklearn.utils import shuffle
np.random.seed(0)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.datasets.samples_generator module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.datasets. Anything that cannot be imported from sklearn.datasets is now part of the private API.
  warnings.warn(message, FutureWarning)

Initialize the data points and Random centers
===========================

KMeans - Clustering
===============

In [2]:
cluster=8
data=pd.read_csv('kaggle_Interests_group.csv', header=0, sep=',')  
datasetname='ecoli'
data=data.fillna(0)
x= np.asarray(data.iloc[:, 1:]) 
y= np.asarray(data.iloc[:, 0]) 
le=LabelEncoder()
y=le.fit_transform(y)
cluster=np.unique(y).shape[0] 
print(data.shape)
data.head()

(6340, 219)

,group,grand_tot_interests,interest1,interest2,interest3,interest4,interest5,interest6,interest7,interest8,...,interest208,interest209,interest210,interest211,interest212,interest213,interest214,interest215,interest216,interest217
0,C,17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,C,43,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,C,27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,C,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
4,C,36,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [3]:
cluster=np.unique(y).shape[0]
cluster

4

In [4]:
for i in range(10):
    
    data=shuffle(data)
    x= np.asarray(data.iloc[:, 1:]) 
    y= np.asarray(data.iloc[:, 0]) 
    le=LabelEncoder()
    y=le.fit_transform(y)
    
    kmeans = KMeans(n_clusters = cluster,max_iter=50, random_state=5) 
    kmeans.fit(x) 
    
    ny=kmeans.labels_   
        
    mypred=pd.DataFrame()
    mypred['Actual']=y
    mypred['Predicted']=ny
    
    mypred.to_csv('KMEANS_'+str(i)+'_pred.txt',sep=',',index=False)
    print(i)

0
1
2
3
4
5
6
7
8
9